@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-color-principal{
  background-color: #7f68e5;
}
.bg-color-helper{
  
  background-color:#959bde;
}
.bg-color-helper-card{
  background-color: #dce9f4
}
.font-principal{
    font-family: 'Montserrat', sans-serif;
}

.color-principal{
  color:#959bde;
}

.bg-color-secondary{
  background-color: #32328b;
}
.bg-button-color{
  background-color: #f0eff7;
}
.triangle-border-top{
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
.triangle-border-bottom{
 clip-path: polygon(0 0, 0 100%, 100% 100%);
}
.label-border-top{
  border-radius: 0rem 2rem 2rem 1rem;
}
.label-border-bottom{
   border-radius: 0rem 0rem 2rem 0rem;
}
.text-home{
  font-size: 0.55rem;
    line-height: 1rem;;
}
.bg-rounded{
  border-radius:2.5rem;
}

.bg-travel-singapur{
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url('../public/assets/images/singapur.jpg') ;
}

.bg-travel-paris{
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url('../public/assets/images/paris.jpg') ;
}


.bg-travel-new-york{
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url('../public/assets/images/newyork.jpg') ;
}

.bg-image{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../public/assets/images/bg-image.jpg') ;
}

.animation-image{
  animation: fadein 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.animation-card{
  animation: movement 3s ;
  animation-fill-mode: forwards;
  width: 100%;
}

@keyframes fadein{
  from{
    opacity: 0;
  } 
  to{
    opacity: 1;
  }
}

@keyframes movement {
  0%{
    width: 0%;
    opacity: 0;
  }
  35%{
    width: 0%;
    opacity: 0;
  }
  100%{
    width: 100%;
    opacity: 1;
  }
}